<h1>Please fill out the form below:</h1>
<br>
<form method="post" action="/">
  Your First Name: <input name="fname"><br><hr>
  Your Last Name: <input name="lname"><br><hr>
  Your Birthday: <input name="bday"><br><hr>
  Email: <input name="email"><br><hr>
</form>