<style>
  body{
    background: #556B2F;
  }
  h1{
    color: white;
  }

</style>


<h1>Fill out the form below:</h1>
<br><br><br><br>
<form method="POST" action="/"> <br><br><br>
  First Name: <input name="fname"><br><br><br>
  Last Name: <input name="lname">
  Profile Pic URL: <input name="propic">
  Facebook URL: <input name="facebook">
  Twitter URL: <input name="twitter">
  Google+ URL: <input name="google">
  <input type="submit">
</form>

