<style>
  body{
    background: #556B2F;
  }
  h1{
    color: white;
  }

</style>


<h1>Fill out the form below:</h1>
<br><br><br><br>
<form method="POST" action="/"> <br><br><br>
  First Name: <input name="fname"><br><br><br>
  Last Name: <input name="lname"><br><br><br>
  Profile Pic URL: <input name="propic"><br><br><br>
  Facebook URL: <input name="facebook"><br><br><br>
  Twitter URL: <input name="twitter"><br><br><br>
  Google+ URL: <input name="google"><br><br><br>
  <input type="submit">
</form>

