<style>
  body{
    background: #556B2F;
  }
  h1{
    color: white;
    text-align: center;
  }

  form{
    color: white;
    text-align: center;
  }

</style>


<h1>Fill out the form below:</h1>
<br>
<form method="POST" action="/"> <br>
  First Name: <br> <input name="fname"><br>
  Last Name: <br><input name="lname"><br>
  Bio <br><input name="bio"><br>
  Profile Pic URL: <br><input name="propic"><br>
  <input type="submit"><br><br><br>
</form>

